<%- include("../../partials/header")%>
<%- include("../../partials/navbar") %>
<%- include("../../partials/sidebar") %>

<div class="p-4 sm:ml-64">
    <div class="p-4 mt-14">
        <div class="flex flex-col gap-y-2 pb-10 md:-mt-16">
            <h1 class="text-2xl font-medium">Transaction Detail</h1>
            <p class="text-md md:text-lg font-light text-gray-400">Lihat detail transaksimu!</p>
        </div>
        <div class="bg-white w-full rounded-lg">
            <div class="p-6">
                <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                    <h1 class="md:p-5 mb-2 text-lg font-semibold text-left text-gray-900 bg-white">INVOICE: <%= transaction.invoiceNumber %></h1>
                    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                        <tbody>
                            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    Nama Member
                                </th>
                                <td class="px-6 py-4">
                                    <%= transaction.name %>
                                </td>
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                   Nomor Telfon
                                </th>
                                <td class="px-6 py-4">
                                    <%= transaction.phoneNumber %>
                                </td>
                            </tr>
                            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    Jumlah Orang
                                </th>
                                <td class="px-6 py-4">
                                    <%= transaction.quantity %>
                                </td>
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    Alamat
                                </th>
                                <td class="px-6 py-4">
                                    <%= transaction.address %>
                                </td>
                            </tr>
                            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    Barbershop
                                </th>
                                <td class="px-6 py-4">
                                    <%= transaction.barberId.name %>
                                </td>
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    Kapster
                                </th>
                                <td class="px-6 py-4">
                                    <%= transaction.kapsterId.name %>
                                </td>
                            </tr>
                            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    Tanggal Order
                                </th>
                                <td class="px-6 py-4">
                                    <%= transaction.createdAt.toLocaleString() %>
                                </td>
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    Status
                                </th>
                                <td class="px-6 py-4">
                                  <span id="status-<%= transaction._id %>">
                                      <% if(transaction.status === "pending") {%>
                                          <span class="py-1 px-3 bg-yellow-300 text-white rounded-full">PENDING</span>
                                      <%} else if (transaction.status === "pending approval") {%>
                                          <span class="py-1 px-3 bg-yellow-300 text-white rounded-full">PENDING APPROVAL ADDONS</span>
                                      <%}else if (transaction.status === "ongoing") {%>
                                          <span class="py-1 px-3 bg-blue-600 text-white rounded-full">ONGOING</span>
                                      <%} else if (transaction.status === "completed") {%>
                                          <span class="py-1 px-3 bg-green-500 text-white rounded-full">COMPLETED</span>
                                      <%} else { %>
                                          <span class="py-1 px-3 bg-red-700 text-white rounded-full">CANCELED</span>
                                      <%}%>
                                  </span>
                                </td>
                            </tr>
                            <tr class="bg-white">
                                <th scope="row" class="px-6 py-4 font-bold text-gray-900 whitespace-nowrap">
                                    PEMBAYARAN
                                </th>
                                <table class="w-full text-sm text-left text-gray-500">
                                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                        <tr>
                                            <th scope="col" class="px-6 py-3">
                                                Metode Pembayaran
                                            </th>
                                            <th scope="col" class="px-6 py-3">
                                                Nama Pemilik Rekening
                                            </th>
                                            <th scope="col" class="px-6 py-3">
                                                Bank Asal
                                            </th>
                                            <th scope="col" class="px-6 py-3">
                                                Bukti Pembayaran
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <% if(transaction.payments.paymentMethod === "Bayar ditempat") {%>
                                        <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                                            <th colspan="4" scope="row" class="px-6 py-4 font-bold text-gray-900 whitespace-nowrap text-center">
                                                <%= transaction.payments.paymentMethod %>
                                            </th>
                                        </tr>
                                    <%} else {%>
                                        <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                                <%= transaction.payments.paymentMethod %>
                                            </th>
                                            <td class="px-6 py-4">
                                                <%= transaction.payments.accountHolder %>
                                            </td>
                                            <td class="px-6 py-4">
                                                <%= transaction.payments.bankName %>
                                            </td>
                                            <td class="px-6 py-4">
                                                <a href="#" data-modal-target="defaultModal" data-modal-toggle="defaultModal">
                                                    <img src="https://server-pangkaspro-production.up.railway.app/<%= transaction.payments.proofPayment %> " alt="proof payment" width="40px">
                                                </a>
                                            </td>
                                            <!-- Main modal -->
                                            <div id="defaultModal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
                                                <div class="relative w-full max-w-2xl max-h-full">
                                                    <!-- Modal content -->
                                                    <div class="relative bg-white rounded-lg shadow ">
                                                        <!-- Modal header -->
                                                        <div class="flex items-start justify-between p-4 border-b rounded-t">
                                                            <h3 class="text-xl font-semibold text-gray-900">
                                                                Bukti Pembayaran
                                                            </h3>
                                                            <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" data-modal-hide="defaultModal">
                                                                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                                                                <span class="sr-only">Close modal</span>
                                                            </button>
                                                        </div>
                                                        <!-- Modal body -->
                                                        <div class="p-6 space-y-6 flex justify-center items-center">
                                                            <img src="https://server-pangkaspro-production.up.railway.app/<%= transaction.payments.proofPayment %> " alt="proof payment" width="400px">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </tr>
                                    <%}%>
                                    </tbody>
                                </table>
                            </tr>
                        </tbody>
                    </table>
                    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                        <tr class="bg-white">
                            <th scope="row" class="px-6 py-4 font-bold text-gray-900 whitespace-nowrap">
                                ORDER TAMBAHAN
                            </th>
                            <table class="w-full text-sm text-left text-gray-500">
                                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                <tr>
                                    <th scope="col" class="px-6 py-3">
                                        Jumlah Orang
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Total Tambahan
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Status
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <% if (transaction.addOns && transaction.addOns.length > 0) { %>
                                    <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                            <%= transaction.addOns[0].quantity %> <!-- Mengambil quantity dari elemen pertama -->
                                        </th>
                                        <td class="px-6 py-4">
                                            Rp<%= transaction.addOns[0].totalAddon.toLocaleString() %> <!-- Mengambil quantity dari elemen pertama -->
                                        </td>
                                        <td class="px-6 py-4">
                                            <% if(transaction.addOns[0].isApproved === "pending") {%>
                                                <span class="py-1 px-3 bg-yellow-300 text-white rounded-full">PENDING</span>
                                            <%} else if(transaction.addOns[0].isApproved === "approve") {%>
                                                <span class="py-1 px-3 bg-green-600 text-white rounded-full">APPROVE</span>
                                            <%} else {%>
                                                <span class="py-1 px-3 bg-red-600 text-white rounded-full">DECLINE</span>
                                            <%}%>
                                        </td>
                                    </tr>
                                <% } else { %>
                                    <!-- Tampilkan pesan "Tidak ada order tambahan" -->
                                    <tr>
                                        <td colspan="3" class="py-5 text-center">Tidak ada order tambahan</td>
                                    </tr>
                                <% } %>
                                </tbody>
                            </table>
                        </tr>
                        </tbody>
                    </table>
                    <% if (transaction.status === "pending approval" && transaction.payments.paymentMethod === "Bayar ditempat") {%>
                    <div class="flex justify-end p-5">
                        <form action="/cash-on-delivery/approve-addons/<%= transaction._id %>?_method=PUT" method="POST">
                            <button class="py-1 px-5 mr-1 bg-green-600 rounded-md text-md text-white hover:bg-green-800">
                                <i class="fa fa-check"></i>
                            </button>
                        </form>
                        <form action="/cash-on-delivery/decline-addons/<%= transaction._id %>?_method=PUT" method="POST">
                            <button class="py-1 px-5 mr-1 bg-red-600 rounded-md text-md text-white hover:bg-red-700">
                                <i class="fa fa-times"></i>
                            </button>
                        </form>
                    </div>
                    <%}%>
                    <div class="px-6 py-3">
                        <p class="font-semibold">Total Biaya : Rp<%= transaction.totalAmount.toLocaleString() %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();

    // Mendengarkan peristiwa 'statusUpdate'
    socket.on('transactionStatusUpdate', function(data) {
        const transactionId = data.transactionId; // Sesuaikan dengan id/posisi status pada loop awal
        const statusElement = document.getElementById(`status-${transactionId}`);

        // Mengubah kelas elemen status berdasarkan status yang baru
        if (data.status === 'completed') {
            statusElement.innerHTML = '<span class="py-1 px-3 bg-green-500 text-white rounded-full">COMPLETED</span>';
        }
    });
</script>
<%- include("../../partials/footer")%>