<%- include("../../partials/header")%>
<%- include("../../partials/navbar") %>
<%- include("../../partials/sidebar") %>

<div class="p-4 sm:ml-64">
    <div class="p-4 mt-14">
        <div class="flex flex-col gap-y-2 pb-10 md:-mt-16">
            <h1 class="text-2xl font-medium">Edit Barber</h1>
            <p class="text-md md:text-lg font-light text-gray-400">Perbarui pangkasmu!</p>
        </div>
        <div class="bg-white w-full rounded-lg">
            <div class="p-6">
                <form action="/barber/edit/<%= barber.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div class="flex flex-col md:flex-row md:flex-wrap justify-between gap-y-5 md:gap-x-2 py-2">
                        <div class="flex flex-col md:w-[30rem] gap-y-2">
                            <label for="name" class="text-gray-600 font-light">Nama Pangkas Rambut / Barbershop</label>
                            <input name="name" required type="text" value="<%= barber.name %>" class="placeholder:italic placeholder:text-slate-400 bg-white w-full border border-gray-500 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-secondary focus:ring-secondary focus:ring-1 sm:text-sm" placeholder="Nama Pangkas">
                        </div>
                        <div class="flex flex-col md:w-[30rem] gap-y-2">
                            <label for="price" class="text-gray-600 font-light">Harga</label>
                            <input name="price" required type="number" value="<%= barber.price %>" class="placeholder:italic placeholder:text-slate-400 bg-white w-full border border-gray-500 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-secondary focus:ring-secondary focus:ring-1 sm:text-sm" placeholder="Harga">
                        </div>

                        <div class="flex flex-col md:w-[30rem] gap-y-2">
                            <label for="bank" class="text-gray-600 font-light">Bank/E-Wallet</label>
                            <input name="bank" required type="text" value="<%= barber.bank %>" class="placeholder:italic placeholder:text-slate-400 bg-white w-full border border-gray-500 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-secondary focus:ring-secondary focus:ring-1 sm:text-sm" placeholder="ex: BCA">
                        </div>
                        <div class="flex flex-col md:w-[30rem] gap-y-2">
                            <label for="accountName" class="text-gray-600 font-light">Nama Pemilik Akun</label>
                            <input name="accountName" required type="text" value="<%= barber.accountName %>" class="placeholder:italic placeholder:text-slate-400 bg-white w-full border border-gray-500 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-secondary focus:ring-secondary focus:ring-1 sm:text-sm" placeholder="ex: Brian">
                        </div>
                        <div class="flex flex-col md:w-[30rem] gap-y-2">
                            <label for="accountNumber" class="text-gray-600 font-light">Nomor Rekening/Nomor Handphone</label>
                            <input name="accountNumber" required type="text" value="<%= barber.accountNumber %>" class="placeholder:italic placeholder:text-slate-400 bg-white w-full border border-gray-500 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-secondary focus:ring-secondary focus:ring-1 sm:text-sm" placeholder="ex: 113031921">
                        </div>
                        <div class="flex flex-col md:w-[30rem] gap-y-2">
                            <label for="shippingCost" class="text-gray-600 font-light">Ongkos Kirim</label>
                            <input name="shippingCost" required type="number" value="<%= barber.shippingCost %>" class="placeholder:italic placeholder:text-slate-400 bg-white w-full border border-gray-500 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-secondary focus:ring-secondary focus:ring-1 sm:text-sm" placeholder="ex: 40000">
                        </div>
                        <div class="flex flex-col md:w-full gap-y-2">
                            <label for="description" class="text-gray-600 font-light">Deskripsi</label>
                            <textarea name="description" required type="text" class="placeholder:italic placeholder:text-slate-400 bg-white w-full border border-gray-500 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-secondary focus:ring-secondary focus:ring-1 sm:text-sm" placeholder="Deskripsi ..."><%= barber.description %></textarea>
                        </div>
                        <div class="flex flex-col md:w-full gap-y-2">
                            <label for="image" class="text-gray-600 font-light">Photo</label>
                            <input name="image" required type="file" class="pl-9 pr-3 sm:text-sm text-sm text-slate-500" multiple>
                        </div>
                        <div class="flex flex-col md:w-full gap-y-2">
                            <button type="submit" style="background: #D25B04;" class="py-2 text-white font-semibold rounded-md hover:bg-secondary-hover hover:text-slate-100">Simpan</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include("../../partials/footer")%>