<%- include("../../partials/header")%>
<%- include("../../partials/navbar") %>
<%- include("../../partials/sidebar") %>

<div class="p-4 sm:ml-64">
    <div class="p-4 mt-14">
        <div class="flex flex-col gap-y-2 pb-10 md:-mt-16">
            <h1 class="text-2xl font-medium">Add User</h1>
            <p class="text-md md:text-lg font-light text-gray-400">Tambah Pengguna!</p>
        </div>
        <div class="bg-white w-full rounded-lg">
            <div class="p-6">
                <form action="/user/edit/<%= user._id %>?_method=PUT" method="POST">
                    <div class="flex flex-col md:flex-row md:flex-wrap justify-between gap-y-5 md:gap-x-2 py-2">
                        <div class="flex flex-col md:w-[30rem] gap-y-2">
                            <label for="name" class="text-gray-600 font-light">Nama User</label>
                            <input name="name" type="text" value="<%= user.name %>" class="placeholder:italic placeholder:text-slate-400 bg-white w-full border border-gray-500 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-secondary focus:ring-secondary focus:ring-1 sm:text-sm" placeholder="ex: Ipung">
                        </div>
                        <div class="flex flex-col md:w-[30rem] gap-y-2">
                            <label for="email" class="text-gray-600 font-light">Alamat Email</label>
                            <input name="email" type="text" value="<%= user.email %>" class="placeholder:italic placeholder:text-slate-400 bg-white w-full border border-gray-500 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-secondary focus:ring-secondary focus:ring-1 sm:text-sm" placeholder="ex: Ipung@gmail.com">
                        </div>
                        <div class="flex flex-col md:w-[30rem] gap-y-2">
                            <label for="password" class="text-gray-600 font-light">Password</label>
                            <input name="password" type="password" class="placeholder:italic placeholder:text-slate-400 bg-white w-full border border-gray-500 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-secondary focus:ring-secondary focus:ring-1 sm:text-sm" placeholder="ex: ••••••••">
                        </div>
                        <div class="flex flex-col md:w-full gap-y-2">
                            <button type="submit" style="background: #D25B04;" class="py-2 text-white font-semibold rounded-md hover:bg-secondary-hover hover:text-slate-100">Simpan</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function handleRadioChange(event) {
        selectedOption = event.target.value; // Menentukan nilai showInput berdasarkan opsi yang dipilih
        const barberNameElement = document.getElementById("barber-name");
        if (selectedOption === "barber") {
            showInput = true;
            barberNameElement.classList.remove("invisible");
            barberNameElement.classList.add("visible");
        } else {
            showInput = false;
            barberNameElement.classList.remove("visible");
            barberNameElement.classList.add("invisible");
        }
        const barberListElement = document.getElementById("list-barber");
        if (selectedOption === "kapster") {
            showInput = true;
            barberListElement.classList.remove("invisible");
            barberListElement.classList.add("visible");
        } else {
            showInput = false;
            barberListElement.classList.remove("visible");
            barberListElement.classList.add("invisible");
        }
    }
</script>
<%- include("../../partials/footer")%>